body {
  padding: 0;
  margin: 0;
  background: #4f4f4f;
  color: #CCCCCC;
}

header {
  padding: 10px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  background: #ff008d70;
}

header h1 {
  color: #ccc;
  font-size: 24px;
}

main {
  height: 100vh;
}

.router-outlet {
  padding: 10px;
}

.search-box input {
  background: #5b5b5b;
  padding: 10px;
  opacity: 1;
}